<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Game Statistict done right</title>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <script type="text/javascript" src="/js/report.js"></script>

        <script type="text/javascript">
            google.load('visualization', '1.0', {'packages':['corechart', 'AnnotatedTimeLine', 'controls'], 'language': 'ru'});

            $(function() {
                google.setOnLoadCallback(function() {
                    $.get("/stat/report/2/wins_level", function(json) {
                        var report = new Report(json, {dashElem : 'dashboard', chartElem : 'visualization', controlElem : ['control1']});

                        report.view().draw(report.data);
                    });
                });
            });
        </script>
    </head>
    <body>
        <div id="dashboard" style="width: 800px; height: 600px;">
            <div id="control1"></div>
            <div id="visualization" style="width: 800px; height: 400px;"></div>
        </div>
    </body>
</html>